# -*- mode: ruby -*-
# # vi: set ft=ruby :

Configuration.for('Cupperfile') {
  sensible_files false
  downgrade true
}

Cupper.config do
  Cupper.configure()
  sensible_files false
  downgrade true
end
